<% if !user_signed_in? %>
<div class = "container">
<h1 class="title is-1">Welcome to TeacherConnection!</h1>
<h3 class="subtitle is-3">A place for teachers to connect, share and thrive!</h3>
<div>
<style>
    html{
        background: url("/eddie.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -0-background-size: cover;
        background-size: cover;
    }
</style>

<% else %>
<h1> Signed in </h1>

<%= link_to 'Click to go to Forums', forums_path %></li>

<% end %>