<% if !user_signed_in? %>
<style>
    html{
        background: url("/eddie.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -0-background-size: cover;
        background-size: cover;
    }
</style>
<% else %>
<h1> Signed in </h1>

<%= link_to 'Click to go to Forums', forums_path %></li>

<% end %>