@import "bulma";


#main_content {
    margin-top: 100 px;
   
    #content {
    float: none;
    }
    .title {
    a {
        color: #FF4500;
     }   
    }
}

.comments_title {
    margin-top: 2em;
   }
   #comments {
   .comments {
   padding: 1em 0;
   border-top: 1px solid #E9E9E9;
   .lead {
   margin-bottom: 0;
       }
       }
   }

   #eventCard{
       margin: 1em;
       width:27vw;
   } 

   #railsNav {
       margin-top: 20px;
   }

   #forum_hero {
       margin-bottom: 40px;
       width: 100%;
       height: 600px;
       padding: 0;
       background: url(teachers-hero.jpg) no-repeat center top;
       background-size: 100% 100%;
 
   }

   #events_hero {
    margin-bottom: 40px;
    width: 100%;
    height: 600px;
    padding: 0;
    background: url(teaching_landing.jpg) no-repeat center top;
    background-size: 100% 100%;

}

//    footer {
//        height: 100px;
//        background-color: aqua;
//        display: absolute;
//    }